a { text-decoration: none; color: #0088FF; }
body { height: 100vh; margin: 0; display: flex; flex-direction: column; }
div { color: var(--fg-primary); font-family: 'Poppins', sans-serif; font-size: 24px; }
flex-space { display: block; margin: auto; }
html { background: var(--bg-navigation); }

#navigation { height: 60px; padding: 0 60px; flex: 0 0 auto; background: var(--bg-navigation); display: flex; flex-direction: row; }
.nav-btn { height: 36px; padding: 12px; margin: 0 5px; text-transform: uppercase; color: var(--fg-navigation); position: relative; user-select: none; cursor: pointer; transition: color 0.18s ease-in-out; }
.nav-btn:not(#nav-btn-watermark):not(.nav-btn-selected)::after { content: ''; position: absolute; bottom: 0; width: 0; height: 2px; margin: 0 auto; left: 0; right: 0; background: var(--fg-navigation); transition: width 0.18s ease-in-out, backgroud 0.18s ease-in-out; }
.nav-btn:hover { color: var(--fg-navigation-hover); }
.nav-btn:not(#nav-btn-watermark):not(.nav-btn-selected):hover::after { width: 50%; background: var(--fg-navigation-hover); }
.nav-btn-selected { color: var(--fg-navigation-selected); cursor: default; }
.nav-btn-selected::after { content: ''; position: absolute; bottom: 0; width: 50%; height: 2px; margin: 0 auto; left: 0; right: 0; background: var(--fg-navigation-selected); transition: width 0.18s ease-in-out, backgroud 0.18s ease-in-out; }
.nav-btn-selected:hover::after { background: var(--fg-navigation-hover); }
.nav-btn-selected-transition::after { width: 100%; }
#nav-btn-watermark { color: #6F6F72; font-family: 'Comfortaa', cursive; font-size: 44px; text-transform: lowercase; height: 44px; margin-right: 48px; padding: 8px 12px; cursor: default; }
#lite { width: 24px; height: 24px; margin: 16px; background: var(--fg-navigation-selected); border: 2px solid var(--fg-navigation-selected); border-radius: 50%; display: flex; flex-direction: row; overflow: hidden; cursor: pointer; transition: opacity 0.13s ease-in-out, border-color 0.18s ease-in-out; }
#lite:hover { opacity: 0.75; }
#lite-inner-1, #lite-inner-2 { width: 50%; height: 100%; transition: background 0.18s ease-in-out; }
#lite-inner-1 { background: transparent; }
#lite-inner-2 { background: var(--bg-navigation); }

#inner { width: 100%; height: 100%; background: var(--bg-primary); transition: background 0.66s linear; position: relative; display: flex; }

/* HOME page */
#abs-text { width: min-content; margin: auto 0 auto 8.88%; padding: 24px; display: flex; flex-direction: column; z-index: 2; }
.headline-text { font-family: 'Comfortaa', cursive; font-size: 3.5vw; text-transform: lowercase; text-align: center; opacity: 0; transition: opacity 0.18s ease-in-out, color 0.13s ease-in-out; }
#headline-subtext { font-size: 1.25vw; width: 20.4vw; margin: 1.04vw auto 0; opacity: 0; transition: opacity 0.66s ease-in-out; }
#abs-space { position: absolute; top: 0; right: 0; bottom: 0; left: 0; overflow: hidden; display: flex; z-index: 1; }
#preview-img { background-image: url('img/Screen%20Shot%202021-04-13%20at%205.51.45%20PM.png'); background-repeat: no-repeat; background-size: 100% 100%; width: 62.08vw; height: 43.33vw; margin: auto 0 auto auto; opacity: 0; transform: translateX(-268px); transition: transform 0.66s ease-in-out, opacity 0.34s linear; }

/* FAQ page */
#faq { display: flex; flex-direction: column; padding: 96px; }
#faq-question { font-size: 28px; font-weight: 600; }
#faq-answer { font-size: 28px; }
